h1 Message from the author

p Hey,
p(style='width: 520px') Thanks for helping me test this tool. So far it's a basic chat. Next, I want to add features to make it help software development. Ideas and contributions are very welcome. You may get a big picture from the project roadmap and source code (links below). Again, thank you. I hope you enjoy it.

p
  div Project roadmap
  a(href='https://trello.com/board/upstream/50b1e9fef5f05c203c01aee3', target='_blank')='https://trello.com/board/upstream/50b1e9fef5f05c203c01aee3'

p
  div Source code
  a(href='https://github.com/functioncallback/upstream', target='_blank')='https://github.com/functioncallback/upstream'

p
  div Cheers,
  div Wagner Camarao

p

span(ng-repeat='u in users | orderBy: "_id"')
  img(ng-src='{{u.picture}}', ui-if='u.picture != "/img/avatar.png"', style='height: 50px; margin-right: 1px')
