doctype 5
html
  head
    title real-time content streaming

    link(rel='icon', href='/favicon.ico', type='image/x-icon')
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,700')

    !=css('vendor/normalize')
    !=css('auth')

  body
    a#sign-in-with-google(href='/auth/google') Sign in with Google
