# Development configuration (5 steps)

# Step 1
# Save this file as config/development.coffee
# and update it according to the following

# Steps 2-3
# Create a mongo database on https://mongolab.com
# and update the following with your database credentials

exports.mongo =
  url: 'mongodb://username:password@hostname.mongolab.com:27267/upstream'

# Steps 4-5
# Create a project on https://code.google.com/apis/console
# and update the following with your project credentials

exports.auth =
  google:
    clientID: 'xxxxxxxxxxxxxxxx.apps.googleusercontent.com'
    clientSecret: 'xxxxxxxxxxxxxxxxxxx'
    callbackURL: 'http://localhost:7000/auth/google/callback'

# socket.io log level

# 0 - error
# 1 - warn
# 2 - info
# 3 - debug

exports.io =
  logLevel: 1
